In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 1.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=bffc9e937b38229e205f8118a1640a660602983972a7c232db318014d33e24b5
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit
from datetime import datetime

In [ ]:
spark_shikha = SparkSession.builder.appName("PysparkSQLFunctions").getOrCreate()

In [ ]:
spark_shikha

In [ ]:
data_shikha = [(1,"shikhakarmokar","2024-08-01",14,1000.50),
              (2,"adithya ramakrishnan","2024-08-02",25,2000.75),
              (3,"aditee patil","2024-08-03",20,3000.10),
              (4,"Bhavana Mishra","2024-08-04",15,4000.25),
              (5,"Preeti upadhya","2024-08-05",30,1500.30),
              (6,"jhon snow","2024-08-06",32,2500.45)]

In [ ]:
columns_shikha = ["id","name","dob","age","salary"]
df_shikha = spark_shikha.createDataFrame(data_shikha,columns_shikha)
df_shikha.show()

+---+--------------------+----------+---+-------+
| id|                name|       dob|age| salary|
+---+--------------------+----------+---+-------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|
|  3|        aditee patil|2024-08-03| 20| 3000.1|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|
|  6|           jhon snow|2024-08-06| 32|2500.45|
+---+--------------------+----------+---+-------+

In [ ]:
from pyspark.sql.functions import col
df_shikha.select(col("name")).show()

+--------------------+
|                name|
+--------------------+
|      shikhakarmokar|
|adithya ramakrishnan|
|        aditee patil|
|      Bhavana Mishra|
|      Preeti upadhya|
|           jhon snow|
+--------------------+

In [ ]:
#lit
#Adds a new column with a literal value

df_country_shikha = df_shikha.withColumn("country",lit("USA"))
df_country_shikha.show()

+---+--------------------+----------+---+-------+-------+
| id|                name|       dob|age| salary|country|
+---+--------------------+----------+---+-------+-------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|    USA|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|    USA|
|  3|        aditee patil|2024-08-03| 20| 3000.1|    USA|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|    USA|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|    USA|
|  6|           jhon snow|2024-08-06| 32|2500.45|    USA|
+---+--------------------+----------+---+-------+-------+

In [ ]:
df_shikha.show()

+---+--------------------+----------+---+-------+
| id|                name|       dob|age| salary|
+---+--------------------+----------+---+-------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|
|  3|        aditee patil|2024-08-03| 20| 3000.1|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|
|  6|           jhon snow|2024-08-06| 32|2500.45|
+---+--------------------+----------+---+-------+

In [ ]:
#expr
#adds 5 to the "age" column.

from pyspark.sql.functions import expr

df_age_shikha = df_shikha.withColumn("age_plus_5",expr("age + 5"))
df_age_shikha.show()

+---+--------------------+----------+---+-------+----------+
| id|                name|       dob|age| salary|age_plus_5|
+---+--------------------+----------+---+-------+----------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|        19|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|        30|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        25|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|        20|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|        35|
|  6|           jhon snow|2024-08-06| 32|2500.45|        37|
+---+--------------------+----------+---+-------+----------+

In [ ]:
#when
#classifies people as "Adult" or "Minor"

from pyspark.sql.functions import when
df_classification_shikha = df_shikha.withColumn("classification",when(col("age")>=18,"Adult").otherwise("Minor"))
df_classification_shikha.show()

+---+--------------------+----------+---+-------+--------------+
| id|                name|       dob|age| salary|classification|
+---+--------------------+----------+---+-------+--------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|         Minor|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|         Adult|
|  3|        aditee patil|2024-08-03| 20| 3000.1|         Adult|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|         Minor|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|         Adult|
|  6|           jhon snow|2024-08-06| 32|2500.45|         Adult|
+---+--------------------+----------+---+-------+--------------+

In [ ]:
#concat
#concatenates first and last names with a space.

from pyspark.sql.functions import concat
df_concat_shikha = df_shikha.withColumn("full_name",concat(col("name"),lit(" ")))
df_concat_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|           full_name|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|     shikhakarmokar |
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|adithya ramakrish...|
|  3|        aditee patil|2024-08-03| 20| 3000.1|       aditee patil |
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|     Bhavana Mishra |
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|     Preeti upadhya |
|  6|           jhon snow|2024-08-06| 32|2500.45|          jhon snow |
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#substring
#Extracts the first three characters from the "name" column.

from pyspark.sql.functions import substring
df_substring_shikha = df_shikha.withColumn("first_three_chars",substring(col("name"), 1, 3))
df_substring_shikha.show()

+---+--------------------+----------+---+-------+-----------------+
| id|                name|       dob|age| salary|first_three_chars|
+---+--------------------+----------+---+-------+-----------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|              shi|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|              adi|
|  3|        aditee patil|2024-08-03| 20| 3000.1|              adi|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|              Bha|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|              Pre|
|  6|           jhon snow|2024-08-06| 32|2500.45|              jho|
+---+--------------------+----------+---+-------+-----------------+

In [ ]:
#split
#split the "name" column into an array of words.

from pyspark.sql.functions import split
df_split_shikha = df_shikha.withColumn("name_array",split(col("name"), " "))
df_split_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|          name_array|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|    [shikhakarmokar]|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|[adithya, ramakri...|
|  3|        aditee patil|2024-08-03| 20| 3000.1|     [aditee, patil]|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|   [Bhavana, Mishra]|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|   [Preeti, upadhya]|
|  6|           jhon snow|2024-08-06| 32|2500.45|        [jhon, snow]|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#regexp_replace

from pyspark.sql.functions import regexp_replace
df_replace_shikha = df_shikha.withColumn("replaced_name",regexp_replace(col("name"),"jhon","john"))
df_replace_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|       replaced_name|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|      shikhakarmokar|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|adithya ramakrishnan|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        aditee patil|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|      Bhavana Mishra|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|      Preeti upadhya|
|  6|           jhon snow|2024-08-06| 32|2500.45|           john snow|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#count
#counts the number of records in the dataframe

from pyspark.sql.functions import count
df_count_shikha = df_shikha.agg(count("*").alias("total_count"))
df_count_shikha.show()

+-----------+
|total_count|
+-----------+
|          6|
+-----------+

In [ ]:
#sum
#calculates the total salary

from pyspark.sql.functions import sum
df_sum_shikha = df_shikha.agg(sum("salary").alias("total_salary"))
df_sum_shikha.show()

+------------+
|total_salary|
+------------+
|    14002.35|
+------------+

In [ ]:
#avg
#calculates the average age

from pyspark.sql.functions import avg
df_avg_shikha = df_shikha.agg(avg("age").alias("average_age"))
df_avg_shikha.show()

+------------------+
|       average_age|
+------------------+
|22.666666666666668|
+------------------+

In [ ]:
#max
#finds the maximum salary

from pyspark.sql.functions import max
df_max_shikha = df_shikha.agg(max("salary").alias("max_salary"))
df_max_shikha.show()

+----------+
|max_salary|
+----------+
|   4000.25|
+----------+

In [ ]:
#min
#finds the minimum age

from pyspark.sql.functions import min
df_min_shikha = df_shikha.agg(min("age").alias("min_age"))
df_min_shikha.show()

+-------+
|min_age|
+-------+
|     14|
+-------+

In [ ]:
#round
#rounds the salary to the nearest integer

from pyspark.sql.functions import round
df_round_shikha = df_shikha.withColumn("rounded_salary",round(col("salary"), 0))
df_round_shikha.show()

+---+--------------------+----------+---+-------+--------------+
| id|                name|       dob|age| salary|rounded_salary|
+---+--------------------+----------+---+-------+--------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|        1001.0|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|        2001.0|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        3000.0|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|        4000.0|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|        1500.0|
|  6|           jhon snow|2024-08-06| 32|2500.45|        2500.0|
+---+--------------------+----------+---+-------+--------------+

In [ ]:
#date_format

from pyspark.sql.functions import date_format
df_date_format_shikha = df_shikha.withColumn("formatted_dob",date_format(col("dob"),"MM/dd/yyyy"))
df_date_format_shikha.show()

+---+--------------------+----------+---+-------+-------------+
| id|                name|       dob|age| salary|formatted_dob|
+---+--------------------+----------+---+-------+-------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|   08/01/2024|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|   08/02/2024|
|  3|        aditee patil|2024-08-03| 20| 3000.1|   08/03/2024|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|   08/04/2024|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|   08/05/2024|
|  6|           jhon snow|2024-08-06| 32|2500.45|   08/06/2024|
+---+--------------------+----------+---+-------+-------------+

In [ ]:
#current_date
#adds the current date to the DataFrame

from pyspark.sql.functions import current_date
df_current_date_shikha = df_shikha.withColumn("current_date",current_date())
df_current_date_shikha.show()

+---+--------------------+----------+---+-------+------------+
| id|                name|       dob|age| salary|current_date|
+---+--------------------+----------+---+-------+------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|  2024-08-17|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|  2024-08-17|
|  3|        aditee patil|2024-08-03| 20| 3000.1|  2024-08-17|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|  2024-08-17|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|  2024-08-17|
|  6|           jhon snow|2024-08-06| 32|2500.45|  2024-08-17|
+---+--------------------+----------+---+-------+------------+

In [ ]:
#current_timestamp
#adds the current timestamp to the dataframe

from pyspark.sql.functions import current_timestamp
df_current_timestamp_shikha = df_shikha.withColumn("current_timestamp",current_timestamp())
df_current_timestamp_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|   current_timestamp|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|2024-08-17 08:10:...|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|2024-08-17 08:10:...|
|  3|        aditee patil|2024-08-03| 20| 3000.1|2024-08-17 08:10:...|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|2024-08-17 08:10:...|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|2024-08-17 08:10:...|
|  6|           jhon snow|2024-08-06| 32|2500.45|2024-08-17 08:10:...|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#year,month,dayofmonth

from pyspark.sql.functions import year,month,dayofmonth
df_year_shikha = df_shikha.withColumn("year",year(col("dob")))
df_year_shikha.show()

+---+--------------------+----------+---+-------+----+
| id|                name|       dob|age| salary|year|
+---+--------------------+----------+---+-------+----+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|2024|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|2024|
|  3|        aditee patil|2024-08-03| 20| 3000.1|2024|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|2024|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|2024|
|  6|           jhon snow|2024-08-06| 32|2500.45|2024|
+---+--------------------+----------+---+-------+----+

In [ ]:
#date_add
#adds 10 days to the "dob" column

from pyspark.sql.functions import date_add
df_date_add_shikha = df_shikha.withColumn("date_after_10_days",date_add(col("dob"), 10))
df_date_add_shikha.show()

+---+--------------------+----------+---+-------+------------------+
| id|                name|       dob|age| salary|date_after_10_days|
+---+--------------------+----------+---+-------+------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|        2024-08-11|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|        2024-08-12|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        2024-08-13|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|        2024-08-14|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|        2024-08-15|
|  6|           jhon snow|2024-08-06| 32|2500.45|        2024-08-16|
+---+--------------------+----------+---+-------+------------------+

In [ ]:
#date_sub
#subtracts 10 days from the "dob" column

from pyspark.sql.functions import date_sub
df_date_sub_shikha = df_shikha.withColumn("date_before_10_days",date_sub(col("dob"), 10))
df_date_sub_shikha.show()

+---+--------------------+----------+---+-------+-------------------+
| id|                name|       dob|age| salary|date_before_10_days|
+---+--------------------+----------+---+-------+-------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|         2024-07-22|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|         2024-07-23|
|  3|        aditee patil|2024-08-03| 20| 3000.1|         2024-07-24|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|         2024-07-25|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|         2024-07-26|
|  6|           jhon snow|2024-08-06| 32|2500.45|         2024-07-27|
+---+--------------------+----------+---+-------+-------------------+

In [ ]:
#dateiff
from pyspark.sql.functions import datediff
df_date_diff_shikha = df_shikha.withColumn("days_since_dob",datediff(current_date(),col("dob")))
df_date_diff_shikha.show()

+---+--------------------+----------+---+-------+--------------+
| id|                name|       dob|age| salary|days_since_dob|
+---+--------------------+----------+---+-------+--------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|            16|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|            15|
|  3|        aditee patil|2024-08-03| 20| 3000.1|            14|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|            13|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|            12|
|  6|           jhon snow|2024-08-06| 32|2500.45|            11|
+---+--------------------+----------+---+-------+--------------+

In [ ]:
#to_date
#converts the "dob" column from string to dat6e format

from pyspark.sql.functions import to_date
df_to_date_shikha = df_shikha.withColumn("dob_as_date",to_date(col("dob"),"yyyy-MM-dd"))
df_to_date_shikha.show()

+---+--------------------+----------+---+-------+-----------+
| id|                name|       dob|age| salary|dob_as_date|
+---+--------------------+----------+---+-------+-----------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5| 2024-08-01|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75| 2024-08-02|
|  3|        aditee patil|2024-08-03| 20| 3000.1| 2024-08-03|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25| 2024-08-04|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3| 2024-08-05|
|  6|           jhon snow|2024-08-06| 32|2500.45| 2024-08-06|
+---+--------------------+----------+---+-------+-----------+

In [ ]:
#to_timestamp
#convert the "dob" column from string to timestamp format

from pyspark.sql.functions import to_timestamp
df_to_timestamp_shikha = df_shikha.withColumn("dob_as_timestamp",to_timestamp(col("dob"),"yyyy-MM-dd"))
df_to_timestamp_shikha.show(truncate=False)

+---+--------------------+----------+---+-------+-------------------+
|id |name                |dob       |age|salary |dob_as_timestamp   |
+---+--------------------+----------+---+-------+-------------------+
|1  |shikhakarmokar      |2024-08-01|14 |1000.5 |2024-08-01 00:00:00|
|2  |adithya ramakrishnan|2024-08-02|25 |2000.75|2024-08-02 00:00:00|
|3  |aditee patil        |2024-08-03|20 |3000.1 |2024-08-03 00:00:00|
|4  |Bhavana Mishra      |2024-08-04|15 |4000.25|2024-08-04 00:00:00|
|5  |Preeti upadhya      |2024-08-05|30 |1500.3 |2024-08-05 00:00:00|
|6  |jhon snow           |2024-08-06|32 |2500.45|2024-08-06 00:00:00|
+---+--------------------+----------+---+-------+-------------------+

In [ ]:
#window
#aggregate the salary over a sliding window of one day

from pyspark.sql.functions import window
df_window_shikha = df_shikha.withColumn("window", window(col("dob"), "1 day"))
df_window_shikha.show(truncate=False)

+---+--------------------+----------+---+-------+------------------------------------------+
|id |name                |dob       |age|salary |window                                    |
+---+--------------------+----------+---+-------+------------------------------------------+
|1  |shikhakarmokar      |2024-08-01|14 |1000.5 |{2024-08-01 00:00:00, 2024-08-02 00:00:00}|
|2  |adithya ramakrishnan|2024-08-02|25 |2000.75|{2024-08-02 00:00:00, 2024-08-03 00:00:00}|
|3  |aditee patil        |2024-08-03|20 |3000.1 |{2024-08-03 00:00:00, 2024-08-04 00:00:00}|
|4  |Bhavana Mishra      |2024-08-04|15 |4000.25|{2024-08-04 00:00:00, 2024-08-05 00:00:00}|
|5  |Preeti upadhya      |2024-08-05|30 |1500.3 |{2024-08-05 00:00:00, 2024-08-06 00:00:00}|
|6  |jhon snow           |2024-08-06|32 |2500.45|{2024-08-06 00:00:00, 2024-08-07 00:00:00}|
+---+--------------------+----------+---+-------+------------------------------------------+

In [ ]:
#rank, dense_rank,row_number
#applies ranking functions to the salary column

from pyspark.sql.window import Window
from pyspark.sql.functions import rank, dense_rank, row_number

windowSpec_shikha = Window.orderBy(col("salary").desc())
df_shikha.withColumn("rank",rank().over(windowSpec_shikha)).withColumn("dense_rank",dense_rank().over(windowSpec_shikha)).withColumn("row_number",row_number().over(windowSpec_shikha)).show()

+---+--------------------+----------+---+-------+----+----------+----------+
| id|                name|       dob|age| salary|rank|dense_rank|row_number|
+---+--------------------+----------+---+-------+----+----------+----------+
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|   1|         1|         1|
|  3|        aditee patil|2024-08-03| 20| 3000.1|   2|         2|         2|
|  6|           jhon snow|2024-08-06| 32|2500.45|   3|         3|         3|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|   4|         4|         4|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|   5|         5|         5|
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|   6|         6|         6|
+---+--------------------+----------+---+-------+----+----------+----------+

In [ ]:
#array
#creates a new array column

from pyspark.sql.functions import array
df_array_shikha = df_shikha.withColumn("array_column",array(col("id"),col("age")))
df_array_shikha.show()

+---+--------------------+----------+---+-------+------------+
| id|                name|       dob|age| salary|array_column|
+---+--------------------+----------+---+-------+------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|     [1, 14]|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|     [2, 25]|
|  3|        aditee patil|2024-08-03| 20| 3000.1|     [3, 20]|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|     [4, 15]|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|     [5, 30]|
|  6|           jhon snow|2024-08-06| 32|2500.45|     [6, 32]|
+---+--------------------+----------+---+-------+------------+

In [ ]:
#array_contains
#check if a specified element exists in an array column

from pyspark.sql.functions import array_contains
df_array_contains_shikha = df_shikha.withColumn("contains_id_1",array_contains(array(col("id")), 1))
df_array_contains_shikha.show()

+---+--------------------+----------+---+-------+-------------+
| id|                name|       dob|age| salary|contains_id_1|
+---+--------------------+----------+---+-------+-------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|         true|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|        false|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        false|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|        false|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|        false|
|  6|           jhon snow|2024-08-06| 32|2500.45|        false|
+---+--------------------+----------+---+-------+-------------+

In [ ]:
#explode
#creates a new row for each element in the given array or map column

from pyspark.sql.functions import explode
df_explode_shikha = df_shikha.withColumn("exploded_array",explode(array(col("id"),col("age"))))
df_explode_shikha.show()

+---+--------------------+----------+---+-------+--------------+
| id|                name|       dob|age| salary|exploded_array|
+---+--------------------+----------+---+-------+--------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|             1|
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|            14|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|             2|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|            25|
|  3|        aditee patil|2024-08-03| 20| 3000.1|             3|
|  3|        aditee patil|2024-08-03| 20| 3000.1|            20|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|             4|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|            15|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|             5|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|            30|
|  6|           jhon snow|2024-08-06| 32|2500.45|             6|
|  6|           jhon snow|2024-08-06| 32|2500.45|            32|
+---+--------------------+----------+---+-------+--------------+

In [ ]:
#map
#creates a new map column

from pyspark.sql.functions import create_map
df_map_shikha = df_shikha.withColumn("map_column",create_map(lit("name"),col("name"),lit("age"),col("age")))
df_map_shikha.show(truncate=False)

+---+--------------------+----------+---+-------+-----------------------------------------+
|id |name                |dob       |age|salary |map_column                               |
+---+--------------------+----------+---+-------+-----------------------------------------+
|1  |shikhakarmokar      |2024-08-01|14 |1000.5 |{name -> shikhakarmokar, age -> 14}      |
|2  |adithya ramakrishnan|2024-08-02|25 |2000.75|{name -> adithya ramakrishnan, age -> 25}|
|3  |aditee patil        |2024-08-03|20 |3000.1 |{name -> aditee patil, age -> 20}        |
|4  |Bhavana Mishra      |2024-08-04|15 |4000.25|{name -> Bhavana Mishra, age -> 15}      |
|5  |Preeti upadhya      |2024-08-05|30 |1500.3 |{name -> Preeti upadhya, age -> 30}      |
|6  |jhon snow           |2024-08-06|32 |2500.45|{name -> jhon snow, age -> 32}           |
+---+--------------------+----------+---+-------+-----------------------------------------+

In [ ]:
#coalesce
#returns the first non-null value among the given columns

from pyspark.sql.functions import coalesce
df_coalesce_shikha = df_shikha.withColumn("coalesed_value",coalesce(col("name"),col("age")))
df_coalesce_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|      coalesed_value|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|      shikhakarmokar|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|adithya ramakrishnan|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        aditee patil|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|      Bhavana Mishra|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|      Preeti upadhya|
|  6|           jhon snow|2024-08-06| 32|2500.45|           jhon snow|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#isnull
#checks if the column is null

from pyspark.sql.functions import isnull
df_isnull_shikha = df_shikha.withColumn("is_name_null",isnull(col("name")))
df_isnull_shikha.show()

+---+--------------------+----------+---+-------+------------+
| id|                name|       dob|age| salary|is_name_null|
+---+--------------------+----------+---+-------+------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|       false|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|       false|
|  3|        aditee patil|2024-08-03| 20| 3000.1|       false|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|       false|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|       false|
|  6|           jhon snow|2024-08-06| 32|2500.45|       false|
+---+--------------------+----------+---+-------+------------+

In [ ]:
#isnan
#check if the column is NaN

from pyspark.sql.functions import isnan
df_isnan_shikha = df_shikha.withColumn("is_age_nan",isnan(col("age")))
df_isnan_shikha.show()

+---+--------------------+----------+---+-------+----------+
| id|                name|       dob|age| salary|is_age_nan|
+---+--------------------+----------+---+-------+----------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|     false|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|     false|
|  3|        aditee patil|2024-08-03| 20| 3000.1|     false|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|     false|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|     false|
|  6|           jhon snow|2024-08-06| 32|2500.45|     false|
+---+--------------------+----------+---+-------+----------+

In [ ]:
#sha2
#applies the SHA-2 hash function to the column

from pyspark.sql.functions import sha2
df_sha2_shikha = df_shikha.withColumn("sha2_hash",sha2(col("name"),256))
df_sha2_shikha.show(truncate = False)

+---+--------------------+----------+---+-------+----------------------------------------------------------------+
|id |name                |dob       |age|salary |sha2_hash                                                       |
+---+--------------------+----------+---+-------+----------------------------------------------------------------+
|1  |shikhakarmokar      |2024-08-01|14 |1000.5 |b811c3e0abe62a7f55db7957b4a2a7f342865be24cca531c033bce3b3353f307|
|2  |adithya ramakrishnan|2024-08-02|25 |2000.75|4c2d1f8d9d15e028a07e4f8230d98be6b8af243d9c11537eab337eff39e8ef4b|
|3  |aditee patil        |2024-08-03|20 |3000.1 |a632fb0d144fda30bfe12f7fd53ee63668075f6a10136af994beb71eb6276146|
|4  |Bhavana Mishra      |2024-08-04|15 |4000.25|f8667cc6280e9fd0f5bfafd76245a1fa8d44805ed2e5ea9bb96f2b403c27f371|
|5  |Preeti upadhya      |2024-08-05|30 |1500.3 |03caeac7872e03cfe34df8e8f8a582aec337f511af95cd7b32e0046a34ba4f79|
|6  |jhon snow           |2024-08-06|32 |2500.45|5046bd24475105cc187af314b65a65acd87f111246ab8d748b1653c8ec657d51|
+---+--------------------+----------+---+-------+----------------------------------------------------------------+

In [ ]:
#md5
#calculates the MD5 hash of a column

from pyspark.sql.functions import md5
df_md5_shikha = df_shikha.withColumn("md5_hash",md5(col("name")))
df_md5_shikha.show(truncate=False)

+---+--------------------+----------+---+-------+--------------------------------+
|id |name                |dob       |age|salary |md5_hash                        |
+---+--------------------+----------+---+-------+--------------------------------+
|1  |shikhakarmokar      |2024-08-01|14 |1000.5 |6411caaaaa8630bf35391919cce8ac0a|
|2  |adithya ramakrishnan|2024-08-02|25 |2000.75|28b94689e4710c7ae841ec4982a716c9|
|3  |aditee patil        |2024-08-03|20 |3000.1 |748123c75e7b906c9f98a84febe98c1b|
|4  |Bhavana Mishra      |2024-08-04|15 |4000.25|d813ddd6ad6ec5412271147300cc7523|
|5  |Preeti upadhya      |2024-08-05|30 |1500.3 |4777306d510ceac3a3c7525a9fe23a5a|
|6  |jhon snow           |2024-08-06|32 |2500.45|dc3c48d8437698ee74812dfbbf45ad14|
+---+--------------------+----------+---+-------+--------------------------------+

In [ ]:
#monotonically_increasing_id
#generates a unique,monotonically increasing 64-bit integer for each row

from pyspark.sql.functions import monotonically_increasing_id
df_monotonically_increasing_id_shikha = df_shikha.withColumn("monotonically_increasing_id",monotonically_increasing_id())
df_monotonically_increasing_id_shikha.show()

+---+--------------------+----------+---+-------+---------------------------+
| id|                name|       dob|age| salary|monotonically_increasing_id|
+---+--------------------+----------+---+-------+---------------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|                          0|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|                          1|
|  3|        aditee patil|2024-08-03| 20| 3000.1|                          2|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|                 8589934592|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|                 8589934593|
|  6|           jhon snow|2024-08-06| 32|2500.45|                 8589934594|
+---+--------------------+----------+---+-------+---------------------------+

In [ ]:
#length
#returns the length of a string column

from pyspark.sql.functions import length
df_length_shikha = df_shikha.withColumn("name_length",length(col("name")))
df_length_shikha.show()

+---+--------------------+----------+---+-------+-----------+
| id|                name|       dob|age| salary|name_length|
+---+--------------------+----------+---+-------+-----------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|         14|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|         20|
|  3|        aditee patil|2024-08-03| 20| 3000.1|         12|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|         14|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|         14|
|  6|           jhon snow|2024-08-06| 32|2500.45|          9|
+---+--------------------+----------+---+-------+-----------+

In [ ]:
#upper and lower
#converts all characters of a string column to upper or lower case

from pyspark.sql.functions import upper, lower
df_upper_lower_shikha = df_shikha.withColumn("name_upper",upper(col("name"))).withColumn("name_lower",lower(col("name")))
df_upper_lower_shikha.show()

+---+--------------------+----------+---+-------+--------------------+--------------------+
| id|                name|       dob|age| salary|          name_upper|          name_lower|
+---+--------------------+----------+---+-------+--------------------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|      SHIKHAKARMOKAR|      shikhakarmokar|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|ADITHYA RAMAKRISHNAN|adithya ramakrishnan|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        ADITEE PATIL|        aditee patil|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|      BHAVANA MISHRA|      bhavana mishra|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|      PREETI UPADHYA|      preeti upadhya|
|  6|           jhon snow|2024-08-06| 32|2500.45|           JHON SNOW|           jhon snow|
+---+--------------------+----------+---+-------+--------------------+--------------------+

In [ ]:
#trim,ltrim,rtrim
#trims spaces from both sides, left side or rigth side of a string column

from pyspark.sql.functions import trim,ltrim,rtrim
df_all_shikha = df_shikha.withColumn("name_trimmed",trim(col("name"))).withColumn("name_ltrimmed",ltrim(col("name"))).withColumn("name_rtrimmed",rtrim(col("name")))
df_all_shikha.show()

+---+--------------------+----------+---+-------+--------------------+--------------------+--------------------+
| id|                name|       dob|age| salary|        name_trimmed|       name_ltrimmed|       name_rtrimmed|
+---+--------------------+----------+---+-------+--------------------+--------------------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|      shikhakarmokar|      shikhakarmokar|      shikhakarmokar|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|adithya ramakrishnan|adithya ramakrishnan|adithya ramakrishnan|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        aditee patil|        aditee patil|        aditee patil|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|      Bhavana Mishra|      Bhavana Mishra|      Bhavana Mishra|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|      Preeti upadhya|      Preeti upadhya|      Preeti upadhya|
|  6|           jhon snow|2024-08-06| 32|2500.45|           jhon snow|           jhon snow|           jhon snow|
+---+--------------------+----------+---+-------+--------------------+--------------------+--------------------+

In [ ]:
#abs
#returns the absolute value of a numeric column

from pyspark.sql.functions import abs
df_abs_shikha = df_shikha.withColumn("abs_salary",abs(col("salary")-3000))
df_abs_shikha.show()

+---+--------------------+----------+---+-------+-------------------+
| id|                name|       dob|age| salary|         abs_salary|
+---+--------------------+----------+---+-------+-------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|             1999.5|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|             999.25|
|  3|        aditee patil|2024-08-03| 20| 3000.1|0.09999999999990905|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|            1000.25|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|             1499.7|
|  6|           jhon snow|2024-08-06| 32|2500.45|  499.5500000000002|
+---+--------------------+----------+---+-------+-------------------+

In [ ]:
#sqrt
#returns the square root of a numeric column

from pyspark.sql.functions import sqrt
df_sqrt_shikha = df_shikha.withColumn("sqrt_age",sqrt(col("age")))
df_sqrt_shikha.show()

+---+--------------------+----------+---+-------+------------------+
| id|                name|       dob|age| salary|          sqrt_age|
+---+--------------------+----------+---+-------+------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|3.7416573867739413|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|               5.0|
|  3|        aditee patil|2024-08-03| 20| 3000.1|  4.47213595499958|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25| 3.872983346207417|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3| 5.477225575051661|
|  6|           jhon snow|2024-08-06| 32|2500.45| 5.656854249492381|
+---+--------------------+----------+---+-------+------------------+

In [ ]:
#exp
#computes the exponential of the given column

from pyspark.sql.functions import exp
df_exp_shikha = df_shikha.withColumn("exp_age",exp(col("age")))
df_exp_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|             exp_age|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|  1202604.2841647768|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|7.200489933738588E10|
|  3|        aditee patil|2024-08-03| 20| 3000.1| 4.851651954097903E8|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|  3269017.3724721107|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|1.068647458152446...|
|  6|           jhon snow|2024-08-06| 32|2500.45|7.896296018268069E13|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#log, log10,log2
#computes the logarithm of the column using a base of e, 10, 2

from pyspark.sql.functions import log,log10,log2
df_all_shikha = df_shikha.withColumn("log_age",log(col("age"))).withColumn("log10_age",log10(col("age"))).withColumn("log2_age",log2(col("age")))
df_all_shikha.show()

+---+--------------------+----------+---+-------+------------------+------------------+------------------+
| id|                name|       dob|age| salary|           log_age|         log10_age|          log2_age|
+---+--------------------+----------+---+-------+------------------+------------------+------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|2.6390573296152584| 1.146128035678238|3.8073549220576037|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|3.2188758248682006|1.3979400086720377| 4.643856189774724|
|  3|        aditee patil|2024-08-03| 20| 3000.1| 2.995732273553991|1.3010299956639813| 4.321928094887363|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|  2.70805020110221|1.1760912590556813|3.9068905956085187|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|3.4011973816621555|1.4771212547196624| 4.906890595608519|
|  6|           jhon snow|2024-08-06| 32|2500.45|3.4657359027997265| 1.505149978319906|               5.0|
+---+--------------------+----------+---+-------+------------------+------------------+------------------+

In [ ]:
#GREATEST and Least

from pyspark.sql.functions import greatest,least
df_greatest_shikha = df_shikha.withColumn("greatest_value",greatest(col("id"),col("age")))
print(df_greatest_shikha.show())

df_least_shikha = df_shikha.withColumn("least_value",least(col("id"),col("age")))
print(df_least_shikha.show())

+---+--------------------+----------+---+-------+--------------+
| id|                name|       dob|age| salary|greatest_value|
+---+--------------------+----------+---+-------+--------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|            14|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|            25|
|  3|        aditee patil|2024-08-03| 20| 3000.1|            20|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|            15|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|            30|
|  6|           jhon snow|2024-08-06| 32|2500.45|            32|
+---+--------------------+----------+---+-------+--------------+

None
+---+--------------------+----------+---+-------+-----------+
| id|                name|       dob|age| salary|least_value|
+---+--------------------+----------+---+-------+-----------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|          1|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|          2|
|  3|        aditee patil|2024-08-03| 20| 3000.1|          3|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|          4|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|          5|
|  6|           jhon snow|2024-08-06| 32|2500.45|          6|
+---+--------------------+----------+---+-------+-----------+

None

In [ ]:
#pow
#raises the value of a column to the power of another column

from pyspark.sql.functions import pow
df_pow_shikha = df_shikha.withColumn("pow_result",pow(col("id"),col("age")))
df_pow_shikha.show(truncate=False)

+---+--------------------+----------+---+-------+--------------------+
|id |name                |dob       |age|salary |pow_result          |
+---+--------------------+----------+---+-------+--------------------+
|1  |shikhakarmokar      |2024-08-01|14 |1000.5 |1.0                 |
|2  |adithya ramakrishnan|2024-08-02|25 |2000.75|3.3554432E7         |
|3  |aditee patil        |2024-08-03|20 |3000.1 |3.486784401E9       |
|4  |Bhavana Mishra      |2024-08-04|15 |4000.25|1.073741824E9       |
|5  |Preeti upadhya      |2024-08-05|30 |1500.3 |9.313225746154785E20|
|6  |jhon snow           |2024-08-06|32 |2500.45|7.958661109946401E24|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#round, bround

from pyspark.sql.functions import round,bround
df_round_shikha = df_shikha.withColumn("rounded_salary",round(col("salary"), 0))
print(df_round_shikha.show())

df_bround_shikha = df_shikha.withColumn("brounded_salary",bround(col("salary"), 0))
print(df_bround_shikha.show())

+---+--------------------+----------+---+-------+--------------+
| id|                name|       dob|age| salary|rounded_salary|
+---+--------------------+----------+---+-------+--------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|        1001.0|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|        2001.0|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        3000.0|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|        4000.0|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|        1500.0|
|  6|           jhon snow|2024-08-06| 32|2500.45|        2500.0|
+---+--------------------+----------+---+-------+--------------+

None
+---+--------------------+----------+---+-------+---------------+
| id|                name|       dob|age| salary|brounded_salary|
+---+--------------------+----------+---+-------+---------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|         1000.0|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|         2001.0|
|  3|        aditee patil|2024-08-03| 20| 3000.1|         3000.0|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|         4000.0|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|         1500.0|
|  6|           jhon snow|2024-08-06| 32|2500.45|         2500.0|
+---+--------------------+----------+---+-------+---------------+

None

In [ ]:
#degree, radius

from pyspark.sql.functions import degrees,radians
df_degrees_shikha = df_shikha.withColumn("degrees_value",degrees(col("age")))
print(df_degrees_shikha.show())

df_radians_shikha = df_shikha.withColumn("radians_value",radians(col("age")))
print(df_radians_shikha.show())

+---+--------------------+----------+---+-------+------------------+
| id|                name|       dob|age| salary|     degrees_value|
+---+--------------------+----------+---+-------+------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5| 802.1409131831525|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|1432.3944878270581|
|  3|        aditee patil|2024-08-03| 20| 3000.1|1145.9155902616465|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25| 859.4366926962348|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|1718.8733853924696|
|  6|           jhon snow|2024-08-06| 32|2500.45|1833.4649444186343|
+---+--------------------+----------+---+-------+------------------+

None
+---+--------------------+----------+---+-------+-------------------+
| id|                name|       dob|age| salary|      radians_value|
+---+--------------------+----------+---+-------+-------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|0.24434609527920614|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75| 0.4363323129985824|
|  3|        aditee patil|2024-08-03| 20| 3000.1| 0.3490658503988659|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25| 0.2617993877991494|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3| 0.5235987755982988|
|  6|           jhon snow|2024-08-06| 32|2500.45| 0.5585053606381855|
+---+--------------------+----------+---+-------+-------------------+

None

In [ ]:
#signum
#Computes the signum of a number: -1 if it's negative, 0 if it's zero, and 1 if it's positive

from pyspark.sql.functions import signum

df_signum_shikha = df_shikha.withColumn("signum_value",signum(col("age")))
df_signum_shikha.show()

+---+--------------------+----------+---+-------+------------+
| id|                name|       dob|age| salary|signum_value|
+---+--------------------+----------+---+-------+------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|         1.0|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|         1.0|
|  3|        aditee patil|2024-08-03| 20| 3000.1|         1.0|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|         1.0|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|         1.0|
|  6|           jhon snow|2024-08-06| 32|2500.45|         1.0|
+---+--------------------+----------+---+-------+------------+

In [ ]:
#hex, unhex
#Converts a column to hexadecimal and back.

from pyspark.sql.functions import hex,unhex
df_all_shikha = df_shikha.withColumn("hex_name",hex(col("id"))).withColumn("unhex_name",unhex(hex(col("id"))))
df_all_shikha.show()

+---+--------------------+----------+---+-------+--------+----------+
| id|                name|       dob|age| salary|hex_name|unhex_name|
+---+--------------------+----------+---+-------+--------+----------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|       1|      [01]|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|       2|      [02]|
|  3|        aditee patil|2024-08-03| 20| 3000.1|       3|      [03]|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|       4|      [04]|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|       5|      [05]|
|  6|           jhon snow|2024-08-06| 32|2500.45|       6|      [06]|
+---+--------------------+----------+---+-------+--------+----------+

In [ ]:
#nvl,nvl2


from pyspark.sql.functions import nvl,nvl2,col
df_nvl_shikha = df_shikha.withColumn("nvl_age",nvl(col("age"),col("id")))
print(df_nvl_shikha.show())

df_nvl2_shikha = df_shikha.withColumn("nvl2_age",nvl2(col("age"),col("id"),col("salary")))
print(df_nvl2_shikha.show())

+---+--------------------+----------+---+-------+-------+
| id|                name|       dob|age| salary|nvl_age|
+---+--------------------+----------+---+-------+-------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|     14|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|     25|
|  3|        aditee patil|2024-08-03| 20| 3000.1|     20|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|     15|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|     30|
|  6|           jhon snow|2024-08-06| 32|2500.45|     32|
+---+--------------------+----------+---+-------+-------+

None
+---+--------------------+----------+---+-------+--------+
| id|                name|       dob|age| salary|nvl2_age|
+---+--------------------+----------+---+-------+--------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|     1.0|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|     2.0|
|  3|        aditee patil|2024-08-03| 20| 3000.1|     3.0|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|     4.0|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|     5.0|
|  6|           jhon snow|2024-08-06| 32|2500.45|     6.0|
+---+--------------------+----------+---+-------+--------+

None

In [ ]:
#reverse
from pyspark.sql.functions import reverse
df_reverse_shikha = df_shikha.withColumn("reversed_name",reverse(col("name")))
df_reverse_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|       reversed_name|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|      rakomrakahkihs|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|nanhsirkamar ayhtida|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        litap eetida|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|      arhsiM anavahB|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|      ayhdapu iteerP|
|  6|           jhon snow|2024-08-06| 32|2500.45|           wons nohj|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#initcap
from pyspark.sql.functions import initcap
df_initcap_shikha = df_shikha.withColumn("capitalized_name",initcap(col("name")))
df_initcap_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|    capitalized_name|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|      Shikhakarmokar|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|Adithya Ramakrishnan|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        Aditee Patil|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|      Bhavana Mishra|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|      Preeti Upadhya|
|  6|           jhon snow|2024-08-06| 32|2500.45|           Jhon Snow|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#instr

from pyspark.sql.functions import instr

df_instr_shikha = df_shikha.withColumn("position_of_a",instr(col("name"),"a"))
print(df_instr_shikha.show())
print(df_instr_shikha.printSchema())

+---+--------------------+----------+---+-------+-------------+
| id|                name|       dob|age| salary|position_of_a|
+---+--------------------+----------+---+-------+-------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|            6|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|            1|
|  3|        aditee patil|2024-08-03| 20| 3000.1|            1|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|            3|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|           10|
|  6|           jhon snow|2024-08-06| 32|2500.45|            0|
+---+--------------------+----------+---+-------+-------------+

None
root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- age: long (nullable = true)
 |-- salary: double (nullable = true)
 |-- position_of_a: integer (nullable = true)

None

In [ ]:
#locate
from pyspark.sql.functions import locate
df_locate_shikha = df_shikha.withColumn("locate_snow",locate("snow",col("name")))
df_locate_shikha.show()

+---+--------------------+----------+---+-------+-----------+
| id|                name|       dob|age| salary|locate_snow|
+---+--------------------+----------+---+-------+-----------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|          0|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|          0|
|  3|        aditee patil|2024-08-03| 20| 3000.1|          0|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|          0|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|          0|
|  6|           jhon snow|2024-08-06| 32|2500.45|          6|
+---+--------------------+----------+---+-------+-----------+

In [ ]:
#soundex
from pyspark.sql.functions import soundex
df_soundex_shikha = df_shikha.withColumn("soundex_name",soundex(col("name")))
df_soundex_shikha.show()

+---+--------------------+----------+---+-------+------------+
| id|                name|       dob|age| salary|soundex_name|
+---+--------------------+----------+---+-------+------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|        S226|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|        A336|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        A331|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|        B155|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|        P631|
|  6|           jhon snow|2024-08-06| 32|2500.45|        J525|
+---+--------------------+----------+---+-------+------------+

In [ ]:
#loevenshtein

from pyspark.sql.functions import levenshtein
df_levenshtein_shikha = df_shikha.withColumn("levenshtein_distance",levenshtein(col("name"),lit("john snow")))
df_levenshtein_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|levenshtein_distance|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|                  12|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|                  16|
|  3|        aditee patil|2024-08-03| 20| 3000.1|                  11|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|                  11|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|                  13|
|  6|           jhon snow|2024-08-06| 32|2500.45|                   2|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#conv
from pyspark.sql.functions import conv
df_conv_shikha = df_shikha.withColumn("binary_value",conv(col("id"),10,2))
df_conv_shikha.show()

+---+--------------------+----------+---+-------+------------+
| id|                name|       dob|age| salary|binary_value|
+---+--------------------+----------+---+-------+------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|           1|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|          10|
|  3|        aditee patil|2024-08-03| 20| 3000.1|          11|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|         100|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|         101|
|  6|           jhon snow|2024-08-06| 32|2500.45|         110|
+---+--------------------+----------+---+-------+------------+

In [ ]:
#translate
from pyspark.sql.functions import translate
df_translate_shikha = df_shikha.withColumn("translated_name",translate(col("name"),"o","a"))
df_translate_shikha.show()

+---+--------------------+----------+---+-------+--------------------+
| id|                name|       dob|age| salary|     translated_name|
+---+--------------------+----------+---+-------+--------------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|      shikhakarmakar|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|adithya ramakrishnan|
|  3|        aditee patil|2024-08-03| 20| 3000.1|        aditee patil|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|      Bhavana Mishra|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|      Preeti upadhya|
|  6|           jhon snow|2024-08-06| 32|2500.45|           jhan snaw|
+---+--------------------+----------+---+-------+--------------------+

In [ ]:
#crc32
from pyspark.sql.functions import crc32
df_crc32_shikha = df_shikha.withColumn("crc32_name",crc32(col("name")))
df_crc32_shikha.show()

+---+--------------------+----------+---+-------+----------+
| id|                name|       dob|age| salary|crc32_name|
+---+--------------------+----------+---+-------+----------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|1044454660|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|1813306881|
|  3|        aditee patil|2024-08-03| 20| 3000.1| 925907906|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|3331490912|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|1821831089|
|  6|           jhon snow|2024-08-06| 32|2500.45|3041698583|
+---+--------------------+----------+---+-------+----------+

In [ ]:
#uuid
from pyspark.sql.functions import expr
df_uuid_shikha = df_shikha.withColumn("uuid",expr("uuid()"))
df_uuid_shikha.show(truncate=False)

+---+--------------------+----------+---+-------+------------------------------------+
|id |name                |dob       |age|salary |uuid                                |
+---+--------------------+----------+---+-------+------------------------------------+
|1  |shikhakarmokar      |2024-08-01|14 |1000.5 |2b5ac41e-4dbe-40fc-9357-4e04c640e294|
|2  |adithya ramakrishnan|2024-08-02|25 |2000.75|d79ebc05-2936-4fb3-9260-f795fb10584b|
|3  |aditee patil        |2024-08-03|20 |3000.1 |28bba04b-a229-4bb9-b29b-64c14f1ef46f|
|4  |Bhavana Mishra      |2024-08-04|15 |4000.25|37922b30-1e77-43e0-8e9b-7a404b927278|
|5  |Preeti upadhya      |2024-08-05|30 |1500.3 |d4ff5f88-0188-4f97-b9ec-2b9d65dbb28e|
|6  |jhon snow           |2024-08-06|32 |2500.45|891ee715-b423-4deb-b4cb-0346386f50be|
+---+--------------------+----------+---+-------+------------------------------------+

In [ ]:
#percent_rank
from pyspark.sql.functions import percent_rank
windowSpec_shikha = Window.orderBy(col("salary").desc())
df_percent_rank = df_shikha.withColumn("percent_rank",percent_rank().over(windowSpec_shikha))
df_percent_rank.show()

+---+--------------------+----------+---+-------+------------+
| id|                name|       dob|age| salary|percent_rank|
+---+--------------------+----------+---+-------+------------+
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|         0.0|
|  3|        aditee patil|2024-08-03| 20| 3000.1|         0.2|
|  6|           jhon snow|2024-08-06| 32|2500.45|         0.4|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|         0.6|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|         0.8|
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|         1.0|
+---+--------------------+----------+---+-------+------------+

In [ ]:
#cume_dist

from pyspark.sql.functions import cume_dist
df_cume_dist_shikha = df_shikha.withColumn("cume_dist",cume_dist().over(windowSpec_shikha))
df_cume_dist_shikha.show()

+---+--------------------+----------+---+-------+-------------------+
| id|                name|       dob|age| salary|          cume_dist|
+---+--------------------+----------+---+-------+-------------------+
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|0.16666666666666666|
|  3|        aditee patil|2024-08-03| 20| 3000.1| 0.3333333333333333|
|  6|           jhon snow|2024-08-06| 32|2500.45|                0.5|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75| 0.6666666666666666|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3| 0.8333333333333334|
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|                1.0|
+---+--------------------+----------+---+-------+-------------------+

In [ ]:
#ntile
from pyspark.sql.functions import ntile
df_ntile_shikha = df_shikha.withColumn("ntile",ntile(3).over(windowSpec_shikha))
df_ntile_shikha.show()

+---+--------------------+----------+---+-------+-----+
| id|                name|       dob|age| salary|ntile|
+---+--------------------+----------+---+-------+-----+
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|    1|
|  3|        aditee patil|2024-08-03| 20| 3000.1|    1|
|  6|           jhon snow|2024-08-06| 32|2500.45|    2|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|    2|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|    3|
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|    3|
+---+--------------------+----------+---+-------+-----+

In [ ]:
#flatten
from pyspark.sql.functions import flatten
df_flatten_shikha = df_shikha.withColumn("flattened_array",flatten(array(array(lit(1),lit(2)),array(lit(3)))))
df_flatten_shikha.show()

+---+--------------------+----------+---+-------+---------------+
| id|                name|       dob|age| salary|flattened_array|
+---+--------------------+----------+---+-------+---------------+
|  1|      shikhakarmokar|2024-08-01| 14| 1000.5|      [1, 2, 3]|
|  2|adithya ramakrishnan|2024-08-02| 25|2000.75|      [1, 2, 3]|
|  3|        aditee patil|2024-08-03| 20| 3000.1|      [1, 2, 3]|
|  4|      Bhavana Mishra|2024-08-04| 15|4000.25|      [1, 2, 3]|
|  5|      Preeti upadhya|2024-08-05| 30| 1500.3|      [1, 2, 3]|
|  6|           jhon snow|2024-08-06| 32|2500.45|      [1, 2, 3]|
+---+--------------------+----------+---+-------+---------------+

In [ ]:
#grouping
from pyspark.sql.functions import grouping_id
from pyspark.sql import functions as F
df_grouping_set_shikha = df_shikha.cube("age", "salary").agg(grouping_id().alias("grouping_id"), F.sum("salary"))
df_grouping_set_shikha.show()

+----+-------+-----------+-----------+
| age| salary|grouping_id|sum(salary)|
+----+-------+-----------+-----------+
|  14|   NULL|          1|     1000.5|
|NULL| 1000.5|          2|     1000.5|
|  14| 1000.5|          0|     1000.5|
|  25|   NULL|          1|    2000.75|
|  25|2000.75|          0|    2000.75|
|NULL| 3000.1|          2|     3000.1|
|  20| 3000.1|          0|     3000.1|
|NULL|   NULL|          3|   14002.35|
|  20|   NULL|          1|     3000.1|
|NULL|2000.75|          2|    2000.75|
|NULL| 1500.3|          2|     1500.3|
|  32|   NULL|          1|    2500.45|
|  30| 1500.3|          0|     1500.3|
|NULL|4000.25|          2|    4000.25|
|  32|2500.45|          0|    2500.45|
|  15|   NULL|          1|    4000.25|
|NULL|2500.45|          2|    2500.45|
|  30|   NULL|          1|     1500.3|
|  15|4000.25|          0|    4000.25|
+----+-------+-----------+-----------+

In [ ]:
#roll up
df_rollup_shikha = df_shikha.rollup("age","salary").count()
df_rollup_shikha.show()

+----+-------+-----+
| age| salary|count|
+----+-------+-----+
|  14|   NULL|    1|
|  14| 1000.5|    1|
|  25|   NULL|    1|
|  25|2000.75|    1|
|  20| 3000.1|    1|
|NULL|   NULL|    6|
|  20|   NULL|    1|
|  32|   NULL|    1|
|  30| 1500.3|    1|
|  32|2500.45|    1|
|  15|   NULL|    1|
|  30|   NULL|    1|
|  15|4000.25|    1|
+----+-------+-----+

In [ ]:
#corr
from pyspark.sql.functions import corr
df_corr_shikha = df_shikha.select(corr(col("age"),col("salary")))
df_corr_shikha.show()

+--------------------+
|   corr(age, salary)|
+--------------------+
|-0.20352956632473357|
+--------------------+

In [ ]:
#collect_list
from pyspark.sql.functions import collect_list

df_all_shikha = df_shikha.groupBy("age").agg(collect_list("name").alias("names")).show()
df_all_shikha

+---+--------------------+
|age|               names|
+---+--------------------+
| 25|[adithya ramakris...|
| 14|    [shikhakarmokar]|
| 20|      [aditee patil]|
| 32|         [jhon snow]|
| 15|    [Bhavana Mishra]|
| 30|    [Preeti upadhya]|
+---+--------------------+